<template name="about">
  <section id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-4 img-side img-left">
          <div class="img-holder overlay">
            <img src="images/bg/notes2.jpg" alt="" class="bg-img">
            <div class="centrize">
              <div class="v-center">
                <div class="title txt-sm-center txt-xs-center m-0">
                  <h3>About Us<span class="red-dot"></span></h3>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of side background image-->
      </div>
      <!-- end of row-->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4">
          <ul role="tablist" class="nav nav-tabs outline">
            <li role="presentation" class="active"><a href="#method-tab" role="tab" data-toggle="tab">Metodologia</a>
            </li>
            <li role="presentation"><a href="#skills-tab" role="tab" data-toggle="tab">Skills</a>
            </li>
          </ul>
          <!-- end of nav tabs-->
          <div class="tab-content">
            <div id="method-tab" role="tabpanel" class="tab-pane fade in active">
              <p class="alt-paragraph mb-15">
                <ul class="icon-list">
                  <li><i class="ti-check"></i>Definição do negócio estabelecendo as parcerias comerciais.</li>
                  <li><i class="ti-check"></i>Definição do objetivo do negócio utilizando os recursos de engenharia disponíveis ou terceirizando os eventualmente necessários.</li>
                  <li><i class="ti-check"></i>Definição dos equipamentos necessários e/ou desenvolvimento dos mesmos.</li>
                  <li><i class="ti-check"></i>Definição dos fabricantes/fornecedores/montadoras que faturarão suas partes de preferência individualmente ao cliente final (sem custo de serviços de engenharia inclusos no ICMS, IPI.)</li>
                  <li><i class="ti-check"></i>Coordenação dos serviços de engenharia necessários a fabricação, incluindo:
                    <ul class="icon-list">
                      <li>Definição dos fornecedores, part numbers, desenhos mecânicos para produção e controle. Gerbers para fabricação dos PCI e placas necessários.</li>
                      <li>Definir as rotinas de ajuste, teste e controle de qualidade de cada produto.</li>
                      <li>Resolver os problemas de produção durante a fase de fabricação. Atendimento de suporte de engenharia ao produto (garantia de workmanship exclusiva com o fabricante)</li>
                    </ul>
                  </li>
                </ul>
              </p>
            </div>
            <div id="skills-tab" role="tabpanel" class="tab-pane fade">
              <ul>
                <li>C</li>
                <li>C++</li>
                <li>Assembly x86 8051</li>
                <li>Delphi</li>
                <li>VB</li>
                <li>PHP</li>
                <li>BASH</li>
                <li>SQL</li>
                <li>VHDL</li>
                <li>Perl</li>
                <li>Python</li>
                <li>Java</li>
                <li>Javascript</li>
                <li>Scripts Shell</li>
                <li>HTML</li>
                <li>XML</li>
                <li>XSLT</li>
                <li>DOM</li>
                <li>SAX</li>
                <li>CSS</li>
                <li>DHTML</li>
                <li>CGI</li>
                <li>XUL</li>
                <li>XPCOM</li>
              </ul>
            </div>
            <!-- end of tab content-->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
