<template name="intro">
  <!-- enf of home section-->
  <section id="intro">
    <div class="container">
      <div class="title center">
        <h4 class="upper">Guiados pela criatividade e tecnologia.</h4>
        <h2>Quem nós somos<span class="red-dot"></span></h2>
        <hr>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p class="alt-paragraph mb-15 text-center">
              Somos uma equipe de engenheiros especializados nos equipamentos e técnicas necessárias, somando mais de 30 anos de experiência em desenvolvimento internacional de produtos dentro das normas de segurança e qualidade e atendendo às especificações contratadas.
            </p>
            <p class="alt-paragraph mb-15 text-center">
              Temos competência plena na mais moderna tecnologia de engenharia analógica, mecânica e digital (estado da arte - incluindo componentes de última geração em hardware e domínio do software).
            </p>
            <p class="alt-paragraph mb-15 text-center">
              Aliado a isto, contatos com fornecedores chineses, coreanos, americanos e europeus permitindo os mais competitivos custos, além do amplo contato com fornecedores nacionais de metalúrgica, eletrônica e soluções, permitindo uma rápida implementação do projeto.
            </p>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of section content-->
    </div>
    <!-- end of container-->
  </section>
</template>
