<template name="team">
  <section id="team">
    <div class="container">
      <div class="title center">
        <h4 class="upper">Paixão. Dedicação. Determinação.</h4>
        <h2>Conheça o time<span class="red-dot"></span></h2>
        <hr>
      </div>
      <div class="section-content">
        <div class="owl-carousel">
          <div class="team-member">
            <div class="team-image">
              <img src="images/team/eduardo.jpg" alt="">
            </div>
            <div class="team-info">
              <h3>Eduardo Ribeiro Correia</h3><span>Software Engineer e CEO</span>
            </div>
            <div class="team-social">
              <ul>
                <li><a href="https://github.com/rafaelcorreiapoli" target="blank"><i class="ti-github"></i></a>
                </li>
                <li><a href="https://br.linkedin.com/in/rafael-ribeiro-correia-6018aa112" target="blank"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- end of team member-->
          <div class="team-member">
            <div class="team-image">
              <img src="images/team/al.jpg" alt="">
            </div>
            <div class="team-info">
              <h3>Alexandre</h3><span>Software Engineer and Alien</span>
            </div>
            <div class="team-social">
              <ul>
                <li><a href="https://github.com/lnmunhoz" target="blank"><i class="ti-github"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/lucasnmunhoz/en" target="blank"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- end of team member-->
 <!-- end of team member-->
          <div class="team-member">
            <div class="team-image">
              <img src="images/team/ricardo.jpg" alt="">
            </div>
            <div class="team-info">
              <h3>Ricardo</h3><span>Software Engineer and Dinosaur</span>
            </div>
            <div class="team-social">
              <ul>
                <li><a href="https://github.com/lnmunhoz" target="blank"><i class="ti-github"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/lucasnmunhoz/en" target="blank"><i class="ti-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- end of team member-->          
        </div>
      </div>
      <!-- end of section content-->
    </div>
    <!-- end of container-->
  </section>
</template>
