<template name="header">
  <header id="topnav">
    <div class="container">
      <div class="logo">
        <a href="index.html">
          <img src="/images/logo_light.png" alt="" class="logo-light">
          <img src="/images/logo_dark.png" alt="" class="logo-dark">
        </a>
      </div>
      <div class="menu-extras">
        <div class="menu-item">
          <a class="navbar-toggle">
            <div class="lines"><span></span><span></span><span></span>
            </div>
          </a>
        </div>
      </div>
      <div id="navigation" data-onepage="true">
        <ul class="navigation-menu nav">
          <li><a href="/#home" data-scroll="true">Home</a>
          </li>
          <li><a href="/#intro" data-scroll="true">Quem Somos</a>
          </li>
          <li><a href="/#services" data-scroll="true">Serviços</a>
          </li>          
          <li><a href="/#team" data-scroll="true">O time</a>
          </li>
          <li><a href="/#portfolio" data-scroll="true">Portfólio</a>
          </li>
          <li><a href="/#clients" data-scroll="true">Clientes</a>
          </li>
          <li><a href="/#contact" data-scroll="true">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</template>
