<template name="vantagens">
  <section>
    <div class="container">
      <div class="title center">
        <h4 class="upper">We speak your language.</h4>
        <h2>Vantagens<span class="red-dot"></span></h2>
        <hr>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-layers"></i>
              <p>Núcleo de engenharia disponível sem custo fixo.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-scissors"></i>
              <p>Relações desenvolvidas no mercado a serviço dos seus objetivos.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-mobile"></i>
              <p>Diversidade de habilidades permite a realização da concepção até produção.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-trophy"></i>
              <p>Caracterização de parceria na relação.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-hotairballoon"></i>
              <p>Compartilhamento do risco da operação.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-lock"></i>
              <p>Transferência de tecnologia.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-trophy"></i>
              <p>Redução de custo e tempo no ciclo de desenvolvimento de produto.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-hotairballoon"></i>
              <p>Continuidade no produto.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-lock"></i>
              <p>Lorem ipsum.</p>
            </div>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of section content-->
    </div>
    <!-- end of container-->
  </section>
</template>
<!-- <template name="metodologia">
  <section>
    <div class="container">
      <div class="title center">
        <h4 class="upper">We speak your language.</h4>
        <h2>Metodologia<span class="red-dot"></span></h2>
        <hr>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-layers"></i>
              <h4>Parcerias</h4>
              <p>Definição do negócio estabelecendo as parcerias comerciais.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-scissors"></i>
              <h4>Terceirizações</h4>
              <p>Definição do objetivo do negócio utilizando os recursos de engenharia disponíveis ou terceirizando os eventualmente necessários.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-mobile"></i>
              <h4>Equipamentos</h4>
              <p>Definição dos equipamentos necessários e/ou desenvolvimento dos mesmos.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-trophy"></i>
              <h4>Fabricantes</h4>
              <p>Definição dos fabricantes/fornecedores/montadoras que faturarão suas partes de preferência individualmente ao cliente final.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-hotairballoon"></i>
              <h4>Controle de Qualidade</h4>
              <p>Definir as rotinas de ajuste, teste e controle de qualidade de cada produto.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="icon-box-basic"><i class="icon-lock"></i>
              <h4>Suporte</h4>
              <p>Atendimento de suporte de engenharia ao produto (garantia de workmanship exclusiva com o fabricante).</p>
            </div>
          </div>
        </div>
        end of row
      </div>
      end of section content
    </div>
    end of container
  </section>
</template>
 -->
