<template name="services">
  <section id="services" class="p-0">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-4 img-side img-left mb-0">
          <div class="img-holder">
            <img src="images/bg/notes4.jpg" alt="" class="bg-img">
            <div class="centrize">
              <div class="v-center">
                <div class="title txt-xs-center">
                  <h4 class="upper">Isto é o que amamos fazer.</h4>
                  <h3>Serviços<span class="red-dot"></span></h3>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of side background image-->
        <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
          <div class="services">
            <div class="row">
              <div class="col-sm-6 border-bottom border-right">
                <div class="service"><i class="icon-chat"></i><span class="back-icon"><i class="icon-chat"></i></span>
                  <h4>Parceria</h4>
                  <hr>
                  <p class="alt-paragraph">Caracterização de parceria na relação, com compartilhamento de risco de operação e transferência de tecnologia.</p>
                </div>
                <!-- end of service-->
              </div>
              <div class="col-sm-6 border-bottom">
                <div class="service"><i class="icon-bargraph"></i><span class="back-icon"><i class="icon-bargraph"></i></span>
                  <h4>Investimento</h4>
                  <hr>
                  <p class="alt-paragraph">
                    Redução de custo e tempo no ciclo de desenvolvimento de produto e continuidade do mesmo.
                  </p>
                </div>
                <!-- end of service-->
              </div>
              <div class="col-sm-6 border-bottom border-right">
                <div class="service"><i class="icon-briefcase"></i><span class="back-icon"><i class="icon-briefcase"></i></span>
                  <h4>Disponibilidade</h4>
                  <hr>
                  <p class="alt-paragraph">
                    Núcleo de engenharia disponível sem custo fixo, com relações desenvolvidas no mercado a serviço dos seus objetivos.
                  </p>
                </div>
                <!-- end of service-->
              </div>
              <div class="col-sm-6 border-bottom">
                <div class="service"><i class="icon-tools-2"></i><span class="back-icon"><i class="icon-tools-2"></i></span>
                  <h4>Técnica</h4>
                  <hr>
                  <p class="alt-paragraph">Diversidade de habilidades permite a realização da concepção até produção.</p>
                </div>
                <!-- end of service-->
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
      </div>
      <!-- end of row -->
    </div>
  </section>
  <section class="p-0 b-0">
    <div class="boxes">
      <div class="container-fluid">
        <div class="row">
          <div data-bg-color="#eee" class="col-md-3 col-sm-6 step-box">
            <div class="number-box"><span>Item No.</span>
              <h2>01<span class="red-dot"></span></h2>
              <h4>Definição.</h4>
              <p>
                Definição do negócio estabelecendo as <b>parcerias comerciais</b>.
              </p>
            </div>
            <!-- end of number box-->
          </div>
          <div data-bg-color="#f2f2f2" class="col-md-3 col-sm-6 step-box">
            <div class="number-box"><span>Item No.</span>
              <h2>02<span class="red-dot"></span></h2>
              <h4>Objetivo.</h4>
              <p>
               Definição do objetivo do negócio utilizando os recursos de <b>engenharia</b> disponíveis ou <b>terceirizando</b> os eventualmente necessários.
              </p>
            </div>
            <!-- end of number box-->
          </div>
          <div data-bg-color="#f6f6f6" class="col-md-3 col-sm-6 step-box">
            <div class="number-box"><span>Item No.</span>
              <h2>03<span class="red-dot"></span></h2>
              <h4>Equipamentos.</h4>
              <p>
                Definição dos <b>equipamentos</b> necessários e/ou <b>desenvolvimento</b> dos mesmos.
              </p>
            </div>
            <!-- end of number box-->
          </div>
          <div data-bg-color="#f9f9f9" class="col-md-3 col-sm-6 step-box">
            <div class="number-box"><span>Item No.</span>
              <h2>04<span class="red-dot"></span></h2>
              <h4>Fabricantes.</h4>
              <p>
                Definição dos fabricantes / fornecedores / montadoras que faturarão suas partes de preferência <b>individualmente</b> ao cliente final (<b>sem custo</b> de serviços de engenharia inclusos no ICMS, IPI.)
              </p>
            </div>
            <!-- end of number box-->
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </div>
  </section>
</template>
